<!-- <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Bookswapp Registration</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Password" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Re-type Password" required />
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="First Name" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="Last Name" required />
                </div>
              </div>
            </div>
            <input class="button" type="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
  </div> -->

  
<div class="parent"> 
    <div class="container"  id="container" [ngClass]="isSignDivVisiable ? 'active' :'' ">
        <div class="form-container sign-up" >
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <div class="form-group">
                  <input type="text" formControlName="username" name="username" placeholder="Username">
                  <div *ngIf="registerForm.get('username')?.errors && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)">
                      <div *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</div>
                      <div *ngIf="registerForm.get('username')?.errors?.['pattern']">Username can only contain alphabets, dots, and underscores.</div>
                  </div>
              </div>
          
              <div class="form-group">
                  <input type="text" formControlName="name" name="name" placeholder="Name">
                  <div *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
                      <div *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</div>
                  </div>
              </div>
          
              <div class="form-group">
                  <input type="email" formControlName="email" name="email" placeholder="Email">
                  <div *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                      <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                      <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
                  </div>
              </div>
          
              <div class="form-group">
                  <input type="password" formControlName="password" name="password" placeholder="Password">
                  <div *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                      <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                      <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                      <div *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must contain at least one special character.</div>
                  </div>
              </div>
            <div class="form-group" *ngIf="showOTPField">
              <input type="text" formControlName="otp" name="otp" placeholder="Enter OTP">
              <span *ngIf="timer > 0">
                  Resend OTP in {{ timer }}s
              </span>
              <button *ngIf="showResendOTP" (click)="resendOTP()">Resend</button>
          </div>
            <button type="submit">{{ showOTPField ? 'Verify OTP' : 'Sign Up' }}</button>
              <div *ngIf="errorMessage"> {{ errorMessage }} </div>
            </form>
        </div>
        <div class="form-container sign-in" >
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <h1>Sign In</h1>
                <input type="username" formControlName="username" name="username"  placeholder="Username">
                <input type="password" formControlName="password" name="password"  placeholder="Password">
                <a [routerLink]="['/forgot-password']">→ Forgot Your Password? ←</a>
                <button type="submit" >Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false" >Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="register"(click)="isSignDivVisiable = true" >Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>